*{
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

header{
    padding: 45px;
    text-align: right;
    font-size: 30px;
    position: relative;
    background-image: linear-gradient(to right, #c25959 , #82e6e8);
}

#btn{
    border-radius: 10px;
    width: 200px;
    border-color: antiquewhite;
    cursor: pointer;
    font-size: medium;
    opacity: 0.9;
    background-color: whitesmoke;
}

#btn1{
    border-radius: 10px;
    width: 200px;
    border-color: antiquewhite;
    cursor: pointer;
    font-size: medium;
    opacity: 0.9;
    background-color: whitesmoke;
}