<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body>
    <header id="header">
        <div id="div">
            <input id="btn" type="button" value="Sing In" onclick="location='/user_reg'">
        </div>
        <div id="div1">
            <input id="btn1" type="button" value="Sing Up" onclick="location='/sing_in'">
        </div>
    </header>
    <div>

    </div>
</body>
</html>