<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="grid">
      <div id="div">
        <h2>Sing Up</h2>
        <label id="lb1" for="name">Name</label>
        <input id="name" type="text" placeholder="Enter name"><br><br>
        <label id="lb2" for="surname">Surname</label>
        <input id="surname" type="text" placeholder="Enter surname"><br><br>
        <label id="lb3" for="mail">Mail</label>
        <input id="mail" type="email" placeholder="Enter mail"><br><br>
        <label id="lb4" for="password">Password</label>
        <input id="password" type="password" placeholder="Password"><br><br>
        <label id="lb5" for="confirm-password">Confirm password</label>
        <input id="confirm" type="password" placeholder="Confirm password"><br><br>
        <input id="btn" onclick="location='/api/v1/users_reg'" value="Submit" type="button">
        <input id="btn2" onclick="location='/'" value="Cancel" type="button">
      </div>
  
    </div>
    
    <script>
      const response = () => {
        let name = document.getElementById('name').value;
        let surname = document.getElementById('surname').value;
        let mail = document.getElementById('mail').value;
        let password = document.getElementById('password').value;
        let confirm = document.getElementById('confirm').value;
        let data = {name, surname, mail, password, confirm};
        fetch('/api/v1/users_reg', {
            method: 'POST', // or 'PUT'
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
          })
            .then((response) => response.json())
            .then((data) => {
              // console.log('Success:', data);
              return data;
            })
            .catch((error) => {
              console.error('Error:', error);
            });
      }
    </script>
  </body>
</html>
