<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/singin.css">
    <title>Document</title>
</head>
<body>
    <div id="div">
        <label id="lb1" for="inpt1">mail</label>
        <input id="inpt1" type="email" placeholder="Mail"><br><br>
        <label id="lb2" for="inpt2">password</label>
        <input id="inpt2" type="text" placeholder="password"><br><br>
        <input id="btn1" type="button" onclick="location=''" value="Sing In">
        <input id="btn2" type="button" onclick="location='/'" value="Cancel">
    </div>
</body>
</html>